<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>WebPincér</title>
    <link rel="stylesheet" type="text/css" href="/style/allStyle.css">
    <link rel="icon" href="/assets/icon_restaurant.png">
    <script type="text/javascript" src="/scripts/indexDB.js"></script>
    <script type="text/javascript" src="/scripts/main.js"></script>
</head>
<body>
<div class="mainPageContainer">
    <div class="mainPage">
        <div class="mainPageHeaderContainer">
            <div class="header">
                <a href="/" style="text-decoration: none">
                    <div class="mainTitle">WebPincér</div>
                </a>
                <div style="display: flex;align-self: center;">
                    <a href="/profile" style="text-decoration: none" class="aContainerProfilePic">
                        <div class="profileIcon"></div>
                    </a>
                    <a href="/shoppingCart" style="text-decoration: none" class="aContainerCartPic">
                        <div id="Cart" class="shoppingCartIcon smthInCart"></div>
                    </a>
                </div>
            </div>

            <div class="menu">
                <%if (sess.email) {%>
                    <a href="/signout" style="text-decoration: none">
                        <div class="login">Kijelentkezés</div>
                    </a>
                <% } else {%>
                    <a href="/login" style="text-decoration: none">
                        <div class="login">Bejelentkezés</div>
                    </a>
                <% } %>
                <a href="/registration" style="text-decoration: none">
                    <div class="registration">Regisztráció</div>
                </a>
                <a href="/connection" style="text-decoration: none">
                    <div class="connection">Kapcsolat</div>
                </a>
            </div>
        </div>
        <div class="regPageMainBody">
            <a href="/admin">
                <div class="backTo backArrow"></div>
            </a>
            <div class="regFormDiv">
                <h2 class="pageMainTitle regTitle">Étel szerkesztése</h2>
                <form action="/updateFood/<%= model.restaurantid %>/<%= model.id %>" method="post">
                    <label class="createFoodHeader">Név:</label>
                    <div class="main">
                        <input type="text" name="name" id="name" value="<%= model.name %>"/>
                        <label class="hello"></label>
                        <span class="enter"></span>
                    </div>
                    <label class="createFoodHeader">Leírás:</label>
                    <div class="main">
                        <input type="text" name="description" id="description" value="<%= model.description %>"/>
                        <label class="hello"></label>
                        <span class="enter"></span>
                    </div>
                    <label class="createFoodHeader">Árkategória:</label>
                    <div class="main">
                        <input type="text" name="price" id="price" value="<%= model.price %>"/>
                        <label class="hello"></label>
                        <span class="enter"></span>
                    </div>
                    <label class="createFoodHeader">Kategória:</label>
                    <div class="main">
                        <input list="categories" name="category" id="category" value="<%= model.category %>"/>
                        <label class="hello"></label>
                        <datalist id="categories">
                            <option value="Soup">
                            <option value="PorkMeetFood">
                            <option value="ChickenMeetFood">
                            <option value="Fish">
                            <option value="FastFood">
                            <option value="Sandwich">
                            <option value="HotDrink">
                            <option value="Drink">
                            <option value="Dessert">
                            <option value="Other">
                        </datalist>
                    </div>
                    <label class="createFoodHeader">Allergének, vesszőkkel elválasztva <br></label>
                    <label class="createFoodHeader">(pl: liszt,tojás):</label>
                    <div class="main">
                        <input type="text" name="allergens" id="allergens" value="<%= model.allergens === null ? "" : model.allergens.toString()%>"/>
                        <label class="hello"></label>
                        <span class="enter"></span>
                    </div>
                    <label class="createFoodHeader">Kép:
                    </label>
                    <div class="main">
                        <input type="text" name="img" id="img" value="<%= model.img %>"/>
                        <label class="hello"></label>
                        <span class="enter"></span>
                    </div>
                    <div style="display: flex; justify-content: center;">
                        <input type="submit" value="Submit" class="btn-sm btn-dark details regButton">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
